@font-face {
font-family: ApexNewMed;
src: url("/fonts/ApexNewMed.otf");
}
@font-face {
font-family: DomaineDisplay;
src: url("/fonts/DomaineDisplay-Regular.otf");
}
a {
  color: #999;
}
.mit-wrapper {
  margin: 0 auto;
  width: 1000px;
  margin-top: 40px;
  font-size: 90%;
}

.about {
  display: flex;
  margin-top: 40px;



}
.about-gif {
  width: 50%;
  margin-right: 70px;
}
.about-info {
  margin-top: 85px;

}

.cvwrapper {
  margin: 0 auto;
  width: 800px;
  margin-top: 60px;
  margin-bottom: 60px;

}

.subwrapper {
  display: flex;
  margin-top: 40px;

}
.subwrapper-item {
width: 600px;
}

.wrapper {
  margin: 0 auto;
  width: 1100px;
  margin-top: 20px;
}

.mit-head {
  font-family: 'ApexNewMed';
  font-size: 250%;
}
.mit-head2 {
  font-family: 'ApexNewMed';
  font-size: 150%;
  text-decoration: underline;
  margin-top: 40px;
}
.mit-head3 {
  font-family: 'ApexNewMed';
  font-size: 110%;
  margin-top: 20px;
}
.mit-new {
  font-family: 'ApexNewMed';
  font-size: 300%;
  margin-top: 20px;
}
.devyn {
  font-family: 'DomaineDisplay';
  font-size: 330%;
  margin-top: 20px;
}

.devyn1 {
  font-family: 'DomaineDisplay';
  font-size: 230%;
  margin-top: 20px;
  text-decoration: underline;
}

.devyn2 {
  font-family: 'DomaineDisplay';
  font-size: 130%;
  margin-top: 10px;

}
.devyn a {
text-decoration: none;
color: black;
}
.bottomlinks {
  margin-top:  11px;


  font-family: 'DomaineDisplay';
  font-size: 110%;

}

.vidz {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.vid {
  margin-bottom: 30px;

}

.vidvid {

}

.vidtitle {
  text-align: center;
  margin-top: 10px;


}
.vidtitle a{
text-decoration: none;
color: black;


}

.vidtitle a:hover{
color: #999;


}
.bottomlinks a{


 text-decoration: none;
color: black;
}

.newheader {
  margin-top: 0px;
  margin-bottom: 34px;
}

.bottomitem{
  margin-right: 30px;
}

.dev-links {
  margin-left:  15px;
  margin-bottom: 100px;


  font-family: 'helvetica', sans-serif;
  width: 100%;
  font-size: 14px;
    font-size: 1vw;
    padding-top:10px;
    padding-bottom:10px;

}

.heading1 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 100%;
}

.dev-wrapper {
  display:flex;
}

.dev-page {


}

body {
  font-family: "arial", serif;
  font-size: 90%;
}

html, body {
 height: 100%;
 padding:0;
 margin: 0;
}

/*table {
  height:100%;
  width:100%;
  }*/

 img {
  max-width: 800px;
  }

.girl {position: fixed; bottom: 0px; right: 0px;}
