@font-face {
font-family: ApexNewMed;
src: url("/fonts/ApexNewMed.otf");
}
@font-face {
font-family: DomaineDisplay;
src: url("/fonts/DomaineDisplay-Regular.otf");
}
a {
  color: #999;
}

.cvwrapper {
  width: 80%;
  margin-top: 60px;
  margin-bottom: 60px;

}

.about {
  display: flex;
  margin-top: 40px;

}
.about-gif {
  margin-right: 70px;
}
.about-info {
  margin-top: 85px;

}

.aboutImg{
  width: 500px;
}

.vidRow {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  width: 1100px;
}

.vid {
  margin-bottom: 30px;

}

.vidvid {

}

.vidtitle {
  text-align: center;
  margin-top: 10px;


}
.vidtitle a{
text-decoration: none;
color: black;


}

.vidtitle a:hover{
color: #999;
}



.vidFrame{
  width:1100px;
  height:621px;
}


.vidCap {
  display: flex;
  justify-content: flex-end;
  margin-top:20px; 

}
.vidCap-item {
width: 600px;
}


.top-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
  width: 1100px;
    flex-wrap:wrap;

}

.top-title {
  font-family: 'DomaineDisplay';
  font-size: 330%;
  margin-top: 20px;
}

.top-title a {
text-decoration: none;
color: black;
}
.top-links {
  margin-top:  11px;


  font-family: 'DomaineDisplay';
  font-size: 110%;
  display: flex;
  justify-content: space-between;
  width: 500px;

}


.top-links a{


 text-decoration: none;
color: black;
}


.w {
  width: 1100px;
}

.x {
  width: 800px;
  margin: auto;
}

@media (max-width: 915px) {
  .w {
    width: 720px;
  }
  .x {
    width: 720px;
      margin: 0;

  }
  .vidCap {
    width: 640px;
  }
  .vidCap-item {
    width:100%;
  }
  .vidFrame{
  width:640px;
  height:360px;
}
.aboutImg{
  width:320px;
}
.about-info {
  margin-top: 30px;

}
.cvwrapper {
  width: 720px;
}

}

@media (max-width: 500px) {
  .w {
    width: 400px;
  }
  .x {
    width: 400px;
      margin: 0;

  }
  .vidCap {
    width: 426px;
  }

  .top-links {
    flex-direction: column;
  }

   .vidFrame{
  width:426px;
  height:240px;
}
.about {
  flex-direction: column;

}
.cvwrapper {
  width: 400px;
}
}






.mit-wrapper {
  margin: 0 auto;
  width: 1000px;
  margin-top: 40px;
  font-size: 90%;
}





.subwrapper {
  display: flex;
  margin-top: 40px;

}
.subwrapper-item {
width: 600px;
}

.wrapper {
  margin: 0 auto;
  width: 1100px;
  margin-top: 20px;
}

.mit-head {
  font-family: 'ApexNewMed';
  font-size: 250%;
}
.mit-head2 {
  font-family: 'ApexNewMed';
  font-size: 150%;
  text-decoration: underline;
  margin-top: 40px;
}
.mit-head3 {
  font-family: 'ApexNewMed';
  font-size: 110%;
  margin-top: 20px;
}
.mit-new {
  font-family: 'ApexNewMed';
  font-size: 300%;
  margin-top: 20px;
}
.devyn {
  font-family: 'DomaineDisplay';
  font-size: 330%;
  margin-top: 20px;
}

.devyn1 {
  font-family: 'DomaineDisplay';
  font-size: 230%;
  margin-top: 20px;
  text-decoration: underline;
}

.devyn2 {
  font-family: 'DomaineDisplay';
  font-size: 130%;
  margin-top: 10px;

}
.devyn a {
text-decoration: none;
color: black;
}
.bottomlinks {
  margin-top:  11px;


  font-family: 'DomaineDisplay';
  font-size: 110%;

}






.bottomlinks a{


 text-decoration: none;
color: black;
}

.newheader {
  margin-top: 0px;
  margin-bottom: 34px;
}



.dev-links {
  margin-left:  15px;
  margin-bottom: 100px;


  font-family: 'helvetica', sans-serif;
  width: 100%;
  font-size: 14px;
    font-size: 1vw;
    padding-top:10px;
    padding-bottom:10px;

}

.heading1 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 100%;
}

.dev-wrapper {
  display:flex;
}

.dev-page {


}

body {
  font-family: "arial", serif;
  font-size: 90%;
}

html, body {
 height: 100%;
 padding:0;
 margin: 0;
}

/*table {
  height:100%;
  width:100%;
  }*/

 img {
  max-width: 800px;
  }

.girl {position: fixed; bottom: 0px; right: 0px;}
