.dev-links {
  margin-right: 150px;
  margin-left:  45px;
  margin-bottom: 100px;
  font-family: 'Oswald', sans-serif;
  width: 100%;
}

.heading1 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 100%;
}

.dev-wrapper {
  display:flex;
}

.dev-page {
  

}

body {font-family: 'Playfair Display', serif;}

html, body {
 height: 100%;
 padding:0;
 margin: 0;
}

table {
  height:100%;
  width:100%;
  }
  img {
  max-width: 100%;
  width: 100%;
  }
