<div class="dev-links"> <br>


<a href="index.html"/> <img width="300" src="images/devyn.png"/> </a> <br><br>
THE BEAUTIFUL FUTURE<br>
<a href="trailer.html"/> Tone Clip/About </a> <br>
<a href="watching_me.html"/> Watching Me </a><br>
<a href="dream_house.html"/> Dream House </a><br>
NOT WAVING BUT DROWNING <br>
<a href="nwbd_trailer.html"/> Trailer/About </a> <br>
<a href="nwbd_tone.html"/> Tone Clip </a><br>
<a href="nwbd_scenes.html"/> Selected Scenes </a><br>
<a href="tmgpoy.html"/> The Most Girl Part of You </a><br>
CURRENT <br>
<a href="twf.html"/> Talkin' it Up With Friends in the Morning </a><br>
<a href="aquifer.html"/> The People in the Aquifer </a><br>
<a href="why_now.html"/> Why Now?</a><br>
MUSIC VIDEOS <br>
<a href="challenger.html"/> Challenger </a><br>
<a href="wild_pink.html"/> Wild Pink</a><br>
DESIGN <br>
<a href="covers.html"/> Covers </a><br>
<a href="flyers.html"/> Flyers </a><br><br>
***** <br>
<a href="photography.html"/> PHOTOS </a><br>
<a href="contact.html"/> Contact/Social </a><br>
 </div>
