<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>


    <div class="wrapper">

    {% include header.html %}
<table width="100%" class="newheader"><tr><td>

          <div class="devyn"> <a href="/"> Devyn Waitt</a></div>
        </td>
        <td align="right" valign="bottom">
          <div class="bottomlinks">
          <a class="bottomitem" href="/video.html">Video</a>
          <a class="bottomitem" target="_blank" href="https://dallasdoesntloveyou.squarespace.com/">Photo</a>
          <a class="bottomitem" href="/covers.html">Design</a>
          <a class="bottomitem" href="/CV.html">CV</a>
          <a  href="/contact.html">About</a>

          </div>
        </td></tr></table>

              {{ content }}


  {% include footer.html %}
</div>

  </body>

</html>
